*{
    box-sizing: border-box;
}

body{
    background-color: #cdcdcd;
}

/* Default 12 column grid */
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

[class*="col-"]{
    float: left;
    padding: 0.9375em;
    border: thin dashed gray;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.redFill{
    background-color: #f00;
}
.blueFill{
    background-color: blue;
}

/* 48em = 746px*/
@media only screen and (max-width: 48em){
    /* For Mobile */
    [class*="col-"]{
        width: 100%;
    }
}

/* 37.5em = 600px */
@media only screen and (min-width: 37.5em) and (max-width: 48em){
    body{background-color: yellow;}
    /*For Tablet */
    .col-s-1{width: 8.33%;}
    .col-s-2{width: 16.66%;}
    .col-s-3{width: 25%;}
    .col-s-4{width: 33.33;}
    .col-s-5{width: 41.66%;}
    .col-s-6{width: 50%;}
    .col-s-7{width: 58.33%;}
    .col-s-8{width: 66.66%;}
    .col-s-9{width: 75%;}
    .col-s-10{width: 83.33%;}
    .col-s-11{width: 91.66%;}
    .col-s-12{width: 100%;}
}

@media only screen and (min-width: 0.0625em) and (max-width: 37.4375em){
    /* For extra small */
    .col-xs-1{width: 8.33%;}
    .col-xs-2{width: 16.66%;}
    .col-xs-3{width: 25%;}
    .col-xs-4{width: 33.33;}
    .col-xs-5{width: 41.66%;}
    .col-xs-6{width: 50%;}
    .col-xs-7{width: 58.33%;}
    .col-xs-8{width: 66.66%;}
    .col-xs-9{width: 75%;}
    .col-xs-10{width: 83.33%;}
    .col-xs-11{width: 91.66%;}
    .col-xs-12{width: 100%;}
}